geth/
*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
LWpxKEv3_400x400TST.png
LWpxKEv3_400x400.png
LWpxKEv3_400x400 - Copy.png
LWpxKEv3_400x400 - Copy.xcf
